/*For everything:*/
* {
  font-family: helvetica, sans-serif;
}

/*top green navigation bar*/
.navbar {
  background-color: #40c18f;
  overflow: hidden;
  text-decoration: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Style the items inside the navigation bar */
.navbar .brand-logo {
  float: left;
  text-align: center;
  text-decoration: none;
}

.navbar .nav-mobile {
  display: none;
}

.navbar .brand-logo .logo-image {
  width: 100px;
}

.navbar li {
  display: inline-block;
  text-align: center;
  padding: 12px;
  list-style-type: none;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.navbar .right {
  margin-right: 50px;
}

.navbar .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

/* Change the color to yellow of links on hover */
.navbar a:hover {
  color: yellow;
}
/* Add a color to the active/current link */
.navbar a.active {
  color: white;
}

body {
  margin: 0;
}

/*This is the hero background image portion, taking the full screen when at normal stage*/
header {
  background: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*text shadow for the two headers as requested*/
  text-shadow: black 1px 0 10px;
  position: relative;
  margin-top: 50px;
}

header h1 {
  font-weight: 500;
  margin-bottom: 0;
}

header h4 {
  font-weight: lighter;
}
/*The red see results text to scroll down*/
.see-results {
  position: absolute;
  bottom: 10px;
  color: red;
  font-weight: bold;
  text-shadow: red 1px 0 10px;
}

.results {
  margin: 40px auto;
  /*desktop max width is 1440px, other than that, margin above centers it*/
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
}

/*three columns in desktop mode*/
.result {
  width: calc(33% - 10px);
  height: 120px;
  margin: 5px;
  color: white;
  position: relative;
  display: inline-block;
}

.result .img-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/*child class is result-img, make sure when zoomed, it doesn't go beyond the parent box*/
/*Also, zoom animation, below*/
.result .result-img{
  width: 100%;
  height: 100%;
  background: url(images/results/90Chn1wgm_M.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .5s ease-in-out;
}
.result:hover .result-img,
.result:focus .result-img {
  transform: scale(1.2);
  display: block;
  overflow: hidden;
}

.result:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*grey fade in for the link and text*/
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(57,80,86,1) 100%);
  display: block;
}

/*Make the link and text of results remain on the bottom and white*/
.result .text {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.result .text a {
  color: white;
  font-size: 12px;
  padding-left: 5px;
}

.result .text a:hover {
  color: yellow;
}

.result .text p {
  font-size: 8px;
  padding-left: 5px;
}

/*TABLET*/
/*Tablet has max-width 1024px*/
/*Tablet has all the same features as desktop plus the ones below*/
@media (max-width: 1024px) {
  .result {
    width: calc(50% - 10px);
    height: 230px;
    margin-bottom: 180px;
  }
  .result:after {
    display: none;
  }
  .result .text {
    background-color: #D3D3D3;
    height: 160px;
    left: 0;
    right: 15px;
    bottom: -170px;
    padding: 15px;
  }
  .result .text a {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }
  .result .text p {
    font-size: 14px;
    color: #333333;
  }
  .navbar .brand-logo {

  }
  .navbar .nav-desktop {
    display: none;
  }
  .navbar .nav-mobile {
    display: block;
    background-color: #40c18f;
    width: 50%;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    padding: 30px;
    text-align: left;
    -ms-transform: translateX(-100%); /* IE 9 */
    -webkit-transform: translateX(-100%); /* Safari */
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  /*hover menu open*/
  .navbar a:hover ~ .nav-mobile, .nav-mobile:hover {
    -ms-transform: translateX(0%); /* IE 9 */
    -webkit-transform: translateX(0%); /* Safari */
    transform: translateX(0%);
  }

  /*Gray/fade rest out when the menu is hovered upon*/
  .fade {
    position: fixed;
    content: "";
    height: 100%;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 1;
    background-color: black;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .navbar .brand-logo:hover ~ .fade, .nav-mobile:hover ~ .fade {
    opacity: 0.7;
    visibility: visible;
  }

  .navbar .nav-mobile a {
    font-size: 20px;
  }
  .navbar .nav-mobile p {
    padding-bottom: 20px;
  }
}

/*MOBILE*/
/*Mobile has max-width 767px*/
/*Mobile has all the same features as desktop and tablet, plus the changes below*/
@media (max-width: 767px) {
  .result {
    width: calc(100% - 10px);
    height: 230px;
  }
  .navbar .nav-mobile {
    width: 100%;
  }
}

/*The blue-purple footer with Copyright*/
footer {
  background-color: #682cdf;
  color: white;
  height: 120px;
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*gives a red text shadow as examples shows*/
  text-shadow: red 1px 0 10px;
}
